/* Global styling and rules */
/* Desktop First styling */
html {
  scroll-behavior: smooth;
}

html,
body {
    max-width:100%;
    overflow-y: visible;
    overflow-x: hidden;
    user-select: none;

}

h1, h2, h3 {
  font-family: 'Bebas neue', cursive;
  
}

h1 {
  font-size: 80px;
}

body {
  font-family: 'Open sans', sans-serif;
}

button {
  font-family: 'Open sans', sans-serif;
}
/* styling for header*/
#header {
  background-image: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%), url('assets/main-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
}

.logo {
  width: 50px;
  height: 50px;
}

#header .navbar {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 8rem;
  background-color: rgba(0,0,0,0.5);
}

#header .navbar .nav-item a {
  color:white;
  text-transform: uppercase;
  font-family: 'Open sans', sans-serif;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.2rem;
}

.navbar-atas .navbar-brand {
  padding-right: 8rem;
}

.navbar-atas .nav-item {
  padding-right: 3rem;
}

.navbar .nav-item a:hover {
  color: orange;
}

.welcome, .experience {
  letter-spacing: 0.3rem;
  text-align: center;
}

.welcome {
  font-family: 'Bebas Neue', cursive;
  text-transform: uppercase;
  font-size: 80px;
  font-weight: bold;
  color: white;
  padding-top: 15%;
  margin-bottom: 3%;
  letter-spacing: 1.5rem;
}

.experience {
  color: white;
  font-family: 'Open sans', sans-serif;
  font-size: 18px;
  letter-spacing: 0.3rem;
  margin-bottom: 5%;
}

.Play-Now {
  display:block;
  margin:auto;
  margin-bottom: 16%;
  background-color: orange;
  font-family: 'Open sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  width: 250px;
  height: 50px;
}

.Play-Now:hover {
  background-color: white;
  color: black;
  transition: all 1.3s;
}

.playnow {
  text-decoration: none;
}

#header h5 {
  text-decoration: none;
  text-align: center;
  font-family: 'Open sans', sans-serif;
  color: white;
  font-size: 14px;
  margin: auto;
}

.scroll-down {
  display: block;
  margin: auto;
  animation: story 4s infinite;
}

@keyframes story {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(0.7);
  }
  75% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

/* styling page 2 or preview */
#preview {
  background-image: radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 60.63%, #080A0B 99.74%), url('assets/the-games-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
}

.content-preview {
  display: flex;
  flex-direction: column;
  padding-top: 11%;
}

.preview-kiri h3 {
  color: white;
  font-size: 40px;
  letter-spacing: 0.5rem;
}

.preview-kiri h1 {
  color: white;
  font-size: 60px;
  letter-spacing: 0.5rem;
}

.preview-kanan {
  width: 60%;
  margin: auto 100px 300px auto;
}

.carousel-image {
  display: block;
  width: 100%;
}

#carouselExampleIndicators {
  width: 100%;
  height: 100%;
}

.c-indicator {
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  outline: none;
}

.c-indicator img {
  width: auto;
  height: auto;
}
.carousel-item {
  transition: transform 0.6s ease-in-out;
}

/* Features Section */
#features {
  background-image: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080A0B 99.74%), url('assets/features.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.features_class {
  padding-top: 10%;
}

.features-contents {
  margin-bottom: 4%;
}

.features-msg {
  margin-top: 1%;
}

.features-msg h3, h1 {
  color: white;
  letter-spacing: 0.2rem;
}

.features-msg h2 {
  letter-spacing: 0.4rem;
}

.features-msg h1 {
  font-size: 50px;
  letter-spacing: 0.3rem;
}

.features-dot {
  margin-right: -3.5rem;
}

.features-caption h2 {
  color:orange;
}

.features-caption p {
  color: white;
}

/* System Requirements Section */

#sysreq {
  background-image: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%), url('assets/requirements.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 10%;
  padding-bottom: 15%;
}

.sysreq-info {
  text-align: center;
  color: white;
  letter-spacing: 0.3rem;
  font-weight: normal;
  font-size: 20px;
  padding-bottom: 2%;
}

.sysreq-contents {
  border: rgb(58, 57, 57) 1px solid;
}

.sysreq-contents h2 {
  color: orange;
  letter-spacing: 0.3rem;
  font-weight: normal;
}

.sysreq-contents p {
  color: white;
  font-family: 'Open sans', sans-serif;
  letter-spacing: 0.1rem;
}

/* Styling for top scores section */
#tscores {
  background-image: radial-gradient(70.52% 37.27% at 24.21% 47.47%, rgba(35, 15, 15, 0) 0%, rgba(0, 0, 0, 0) 51.1%, #080A0B 99.74%), url('assets/top-score-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 10%;
  padding-bottom: 15%;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tscores-card {
  display: inline-block;
}

.content h1, h2 {
  color: white;
  letter-spacing: 0.15rem;
}

.content h2 {
  font-size: 20px;
}

.card {
  background-color: #1D1E1E !important;
  width: 35rem !important;
}

.seemore {
  width: 50%;
  margin-top: 3rem;
}

.logo-twitter {
  width: 4rem;
}

.profilepic {
  width:8rem;
  border-radius: 50%;
}

.card h3 {
  color: orange;
  text-transform: capitalize !important;
  font-family: 'Open sans', sans-serif;
  letter-spacing: 0.1rem;
}

.card-title {
  letter-spacing: 0.1rem;
}

.card h4, .card-footer {
  color:grey;
}

/* Newsletter styling */
#newsletter {
  background-image: radial-gradient(45.43% 53.19% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080A0B 99.74%), url('assets/newsletter.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 1%;
  padding-bottom: 2%;
}

.newsletter-content-text h3, h1, p {
  color: white;
}

.newsletter-content-text h1 {
  letter-spacing: 0.5rem;
}
.newsletter-content-text h3 {
  font-family: "Open sans", sans-serif;
  letter-spacing: 0.2rem;
}

.newsletter-content-text p {
  letter-spacing: 0.1rem;
}

.newsletter-form label {
  color: orange;
}

#email {
  color: white;
}

.subscribe {
  margin-top: 1.4rem;
  color: black;
  background-color: orange;
  border: 1px solid black;
  border-radius: 5px;
  width: 16rem;
  height: 2.5rem;
}

/* Menu bawah and footer section */
#navbar-bawah {
  padding-top: 5rem;
}

#navbar-bawah .navbar-brand {
  padding-left: 1.5rem;
}

#navbar-bawah .navbar-brand {
  font-size: 12px;
  font-family: 'Open sans', sans-serif;
  font-weight: bold;
}

#navbar-bawah .navbar-brand:hover {
  color:orange;
}

#navbar-bawah .nav-item {
  padding-right: 2.5rem;
  padding-bottom: 1rem;
}

#navbar-bawah .navbar-brand {
  padding-bottom: 1.25rem;
}

.navbar-brand {
  color: white;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.footer-contents {
  display: flex;
  flex-direction: row;
  background-color: black;
  border-top: 2px solid darkgrey;
}

.footer-contents:nth-child(1) {
  padding-left: 10rem;
}
.footer-contents p {
  color:grey;
}

.footer-contents a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.footer-spacing:hover {
  pointer-events: none;
  cursor: default;
}

.footer-items {
  display: flex;
  justify-content: space-evenly;
  font-size: 12px;
}

/* Media Queries */
@media screen and (max-width:991.98px) {
  .welcome {
    font-size: 2rem;
    letter-spacing: 0.3rem;
  }
  .sysreq-text {
    font-size: 1rem;
  }
  .tscores-contents {
    font-size: 1rem;
  }

  .seemore {
    width: 150%;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #tscores .container {
    display: block;
  }
} 

@media screen and (max-width:767.98px) {
  .welcome {
    font-size: 3rem;
    letter-spacing: 0.3rem;
  }
  .sysreq-text {
    font-size: 1rem;
  }

  .tscores-contents {
    font-size: 1rem;
  }

  .seemore {
    width: 115%;
  }
  .footer-items {
    display:inline-block;
    font-size: 1rem;
  }
}

@media screen and (max-width:575.98px) {
  .welcome {
    font-size: 2rem;
    padding-top: 20%;
  }
  .footer-items {
    display:inline-block;
    font-size: 0.6rem;
  }
}